Archive/
Blink2/
MC33926 Shield/

Play/_Idle/
Play/Archive/
Play/BitFields/
Play/Crystal1/
Play/DCMotorProfile1/
Play/DigitalIO/
Play/DS18x20_TemperatureSensor/
Play/InterruptDemo/
Play/MC33926Demo/
Play/MotorsAndEncoders_ORIGINAL/
Play/RegisterPlay/
Play/RegisterPlay2/
Play/RS422Test1/
Play/shaftEncoder1/
Play/shaftEncoder2/
Play/StepperMotorProfile1/
Play/TestPattern/
Play/TimerInterrupts/
Play/WiFi/
Play/MessagingFramework/RS422Loopback/LoopbackTest*.*
Play/MessagingFramework/MessagesUT

*_Auto.cpp
*_Auto.h
 
programming_arduino_book/
Simulations/
StepperTest_mod/
Visio/
WiFiPing/
*.zip
*.json
*.properties
log.txt
*.pdf
*.lnk



